// SPDX-License-Identifier: FSL-1.1-MIT

package components

import "runbooks/views/markup"

templ FrontmatterNotice(msg string, terms []string) {
	<div class="runbook-notice">
		<span class="runbook-notice-icon" aria-hidden="true">⚠</span>
		<p>@templ.Raw(markup.ProseGlossary(msg, terms))</p>
	</div>
}
