// SPDX-License-Identifier: FSL-1.1-MIT

package components

import "runbooks/views/markup"

templ ListBlock(items []string, terms []string) {
	<ul class="prose-list">
		for _, item := range items {
			<li>@templ.Raw(markup.ProseGlossary(item, terms))</li>
		}
	</ul>
}
